language: php
sudo: false

php:
  - 7.4
  - 7.3
  - 7.2
  - 7.1
  - 7.0
  - 5.6

matrix:
  allow_failures:
  fast_finish: true

before_script:
  - composer install

script:
  - ./vendor/bin/phpunit --exclude-group online
